{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DatabaseType": "postgres",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=enflorarte_topi_proyecto;Username=postgres;Password=YOUR_PASSWORD_HERE"
  }
}
