@model UsuarioDto

<h1 class="text-center mb=3">Nuevo Usuaio</h1>

<form method="post">
	<div class="card h-100">
		<div class="card-header">
			Ingrese los datos del nuevo usuario
		</div>
		<div class="card-body">
			@* Campo de texto para el nombre de usuario. *@
			<div class="row mb-3">
				<label class="col col-form-label">Nombre completo del usuario</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Nombre">
					<span asp-validation-for="Nombre" class="text-danger"></span>
				</div>
			</div>
			@* Combo box para el rol de usuario. *@
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Tipo de usuario</label>
				<div class="col-sm-8">
					<select class="form-select" asp-for="Rol">
						<option value="" selected hidden>Selecciona un tipo</option>
						<option value="supervisor">Supervisor</option>
						<option value="ventas">Vendedor</option>
						<option value="florista">Florista</option>
						<option value="repartidor">Repartidor</option>
					</select>
					<span asp-validation-for="Rol" class="text-danger"></span>
				</div>
			</div>
			@* Campo de texto para la contrase;a del usuario. *@
			<div class="row mb-3">
				<label class="col col-form-label">Contraseña del usuario</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Contrasena">
					<span asp-validation-for="Contrasena" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>

	<button type="submit" class="btn btn-primary me-2">Confirmar</button>
	<a class="btn btn-outline-primary" asp-controller="ControladorUsuarios" asp-action="Index" role="button">Cancelar</a>
</form>