@model UsuarioDto
@{
    Layout = null;
}

<div class="p-2">
    <form asp-action="Crear" asp-controller="ControladorUsuarios" method="post">
        @Html.AntiForgeryToken()

        <partial name="~/Views/Shared/_FormularioUsuario.cshtml"
                 model="Model"
                 view-data='new ViewDataDictionary(ViewData) { { "EsEdicion", false } }' />

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary px-4">Crear Usuario</button>
        </div>
    </form>
</div>