@model ComandaDto
@{
    Layout = null;
}

<div class="p-2">
    <form asp-action="Crear" asp-controller="ControladorComandas" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <partial name="~/Views/Shared/_FormularioComanda.cshtml" model="Model" view-data='new ViewDataDictionary(ViewData) { { "EsEdicion", false } }' />

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary px-4">Crear Pedido</button>
        </div>
    </form>
</div>